@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

:root 
{
    --cor1: #5cb85c;

    --preto: #000000;
    --cinza: #333333;

    font-size: 100%; /* 16 px */

    --font-size-1: 2.25rem;   /* 48px */
    --font-size-2: 1.5rem;    /* 32px */
    --font-size-3: 1rem;
    --font-size-4: 0.75rem;   /* 16px */
    
    --btn-shadow:-3px 3px 10px 0px rgba(0, 0, 0, 0.105);


    --title-shadow: 0px 5px 5px rgba(0, 0, 0, 0.062);

    --text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media  (min-width: 768px)
{
    :root {
        --font-size-1: 2.25rem;   /* 48px */
        --font-size-2: 1.5rem;    /* 32px */
        --font-size-3: 1rem;
        --font-size-4: 0.75rem;   /* 16px */
         
    }
}


.nav-item
{
    /* background-color: red; */
    margin: 0px 10px;
    ;
}

.active 
{
    color: var(--cor1) !important;
}



.nav-link 
{
    /* color: red; */
    /* font-size: 1.1em; */
    font-size: var(--font-size-3);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.171);
    letter-spacing: 1px;
}


.line 
{
    width: 0%;
    border: 1px solid transparent;
    position: relative;
    bottom: 5px;

    transition: all 0.5s ease;
}

.nav-item:hover .line 
{
    width: 100%;
    border: 1px solid var(--cinza);
}









.fonte--destaque
{
    font-family: "Protest Riot", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--preto);
    /* font-size: 3.2em; */
    font-size: var(--font-size-1);
    text-shadow: var(--title-shadow);
    letter-spacing: 2px;
}

.fonte--destaque::first-letter
{
    color: var(--cor1);
}

.subtitulo
{
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-2);
    text-shadow: var(--title-shadow);
    letter-spacing: 2px;
}

.paragrafo
{
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--cinza);
    /* background-color: rgba(255, 0, 0, 0.486); */
    text-align: start;
    min-height: 144px;
    /* font-size: 1.2em; */
    text-shadow: var(--text-shadow);
    font-size: var(--font-size-3);
}

.art 
{
    /* background-color: blue; */
    padding: 0px 10px !important;
}

.banner
{
    width: 30%;
}

footer 
{
    /* background-color: rgba(255, 0, 0, 0.411); */
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.footer__item
{
    width: 300px;
    padding: 10px;
}


.redes--sociais h3 
{
    text-align: center;
    font-size: var(--font-size-2);

}

.redes--sociais a {
    text-decoration: none;
    /* background-color: blue; */
    /* margin: 30px 0px; */
}

.redes--sociais a:hover 
{
    text-decoration: underline;
    text-decoration-color: black;
}
.redes--sociais ul 
{
    list-style: none;
    /* background-color: red; */
    padding: 0px;
    margin: auto;
    width: 200px;


}

.redes--sociais ul li
{
    color: var(--preto);
    font-size: var(--font-size-3);
    margin: 20px 0px;
    /* background-color: blue; */
    padding: 10px 5px;
}

.btn-npr
{
    height: 41px;
    background-color: var(--cor1);
    color: rgb(245, 245, 245);
    font-weight: bold;
    width: 175px;
    display: flex;
    justify-content: ali;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: var(--btn-shadow);
    transition: all 0.5s ease;
}

.btn-npr:hover 
{
    background-color: #5bd85b;
    color: white;
    transform: translateX(2px) translateY(2px);
}
