<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NPR - Cadastro Ponto</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/icons/favicon.png" type="image/x-icon">
  </head>
  <body>
    <!--BARRA DE NAVEGAÇÃO-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-warning"> 
      <div class="container-fluid" role="navigation">
        <a class="navbar-brand" href="/">
          <img src="img/logotipo.svg" alt="Logotipo NPR" width="50" height="50" style="    transform: scale(2.5);
          margin-left: 30px; margin-right: 30px;
      ">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/mapa">Mapa</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/cadastroUsuario">Cadastro</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="/cadastroPonto">Pontos de coleta</a>
            </li>

          </ul>

        </div>

      </div>

    </nav>
    <%var controle = 0 %>
    <form action="/cadastrarPonto" method="post" class="container  m-auto border border-secondary p-4 bg-light mx-auto my-4" style="max-width: 750px; ">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="textEmail" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">Lembre-se que para enviar um ponto para analise, é necessario ter cadastro no sistema</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="textPassword" required>
      </div>
      <%if(usuarioNao != ""){%> <div class="alert alert-danger"><%=usuarioNao%> ou faça seu cadastro <a href="/cadastroUsuario">clicando aqui</a></div> <%}%>
      <div class="row">
        <div class="mb-3 col col-12 col-md-6">
          <label for="exampleInput" class="form-label">Nome da instituição</label>
          <input type="text" name="textInstituicao" id="exampleInput" class="form-control" required>
        </div>
        <div class="mb-3 col col-12 col-md-6">
          <label for="formCEP" class="form-label">CEP</label>
          <input type="text" name="textCep" id="formCEP" class="form-control" maxlength="9" onblur="consultarCEP()" required>
          <div class="form-text alert alert-danger opacity-0" id="erroCEP">
            CEP INVALIDO
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col col-6">
          <label for="" class="form-label">
            Cidade
          </label>
          <input type="text" name="textCidade" id="axiosCidade" class="form-control" readonly>
        </div>
        <div class="mb-3 col col-6">
          <label for="" class="form-label">
            Bairro
          </label>
          <input type="text" name="textBairro" id="axiosBairro" class="form-control" readonly>
        </div>
      </div>

      <div class="mb-3">
        <label for="" class="form-label">
          Rua
        </label>
        <input type="text" name="textRua" id="axiosRua" class="form-control" readonly>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">
          Selecione uma foto para o perfil<span class="bg-warning p-1 rounded">(Utilize o link de uma imagem)</span>
        </label>
        
        <input type="text" name="textFoto" id="" class="form-control">
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Tipo de coleta</label>
        <div class="form-text">
          Selecione o tipo de coleta do ponto (pode selecionar mais de um tipo caso necessario)
        </div>
                <div class="btn-group d-flex justify-content-center mb-5">
                    
                    <input type="checkbox" name="lixoEletronico" id="btncheck1" class="btn-check m1" autocomplete="off">
                    <label for="btncheck1" class="btn btn-outline-success">Lixo Eletrônico</label>
        
                    <input type="checkbox" name="lixoOrganico" id="btncheck2" class="btn-check" autocomplete="off">
                    <label for="btncheck2" class="btn btn-outline-success">Lixo Orgânico</label> 
        
                    <input type="checkbox" name="lixoOleo" id="btncheck3" class="btn-check" autocomplete="off">
                    <label for="btncheck3" class="btn btn-outline-success">Oléo</label>
        
                    <input type="checkbox" name="lixoReciclavel" id="btncheck4" class="btn-check" autocomplete="off">
                    <label for="btncheck4" class="btn btn-outline-success">Lixo Reciclável</label>
                </div>
      </div>

      <div class="mb-3">
        <label for="exampleTextarea" class="form-label">Descrição do ponto</label>
        <div class="form-text">Coloque na descrição o objetivo da empresa</div>
        <div class="form-floating m-4 ">
          <textarea name="textDescricao" id="exampleTextarea" cols="60" rows="10" class="form-control" placeholder="Descrição do Ponto" style="height: 200px;" required></textarea>
        
      </div>
      </div>

      <div class="alert alert-info">
        O seu cadastro será enviado para análise, não será incluido automaticamente no mapa.
        iremos analisar o mais rapido possivel para assim colocar o seu cadastro no mapa.
        Obrigado pela sua contribuição !
      </div>
      <button type="submit" class="btn btn-primary">Enviar para análise</button>
    </form>


    <script>

            const campoCEP = document.getElementById('formCEP')

            campoCEP.addEventListener('input', () => {
                console.log("MASCARA DO CEP EM")
                let value = campoCEP.value.replace(/\D/g, ''); // Remove caracteres não numéricos

                if (value.length === 8) {
                    campoCEP.value = value.replace(/(\d{5})(\d{3})/, '$1-$2');
                }
            });
            
           
           
      function consultarCEP() {

      const cep = campoCEP.value.replace('-','');
      console.log(cep)
      console.log("Procurando cep")
      console.log(`https://viacep.com.br/ws/${cep}/json/`)

      if (cep.length === 8) {
      axios.get(`https://viacep.com.br/ws/${cep}/json/`)
          .then(response => {
              const endereco = response.data;
              if (endereco.erro) {
                  console.log('CEP não encontrado');
                  
                  document.getElementById("erroCEP").classList.remove('opacity-0')
                  document.getElementById('erroCEP').classList.add('opacity-100')
              } else {
                  console.log(endereco)
                  document.getElementById("erroCEP").classList.remove('opacity-100')
                  document.getElementById('erroCEP').classList.add('opacity-0')
                  // document.getElementById("cepInvalido").innerHTML = ""
                  document.getElementById('axiosRua').value = endereco.logradouro;
                  document.getElementById('axiosBairro').value = endereco.bairro;
                  document.getElementById('axiosCidade').value = endereco.localidade;
                  // Preencha outros campos de endereço que você deseja exibir
              }
          })
          .catch(error => {
              console.log('Erro ao consultar o CEP:', error);
          });
      } 
      else if(cep.length < 7)
      {
      document.getElementById("cepInvalido").innerHTML = ""
                  document.getElementById('floatingInput_rua').value = "";
                  document.getElementById('floatingInput_bairro').value = "";
                  document.getElementById('floatingInput_cidade').value = "";
                  console.log("CEP INVALIDO")
      }
      }
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>